<<%- include('../partials/header', { title: "Add Actor" }) %>

<h1 class="text-danger mb-4">➕ Add New Actor</h1>

<form action="/actors/add" method="POST">
    <div class="mb-3">
        <label class="form-label">Actor Name</label>
        <input type="text" name="actorName" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" name="age" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Image Filename</label>
        <input type="text" name="image" class="form-control">
    </div>

    <button class="btn btn-danger">Save</button>
</form>

<%- include('../partials/footer') %>