<%- include('../partials/header') %>
<%- include("../partials/navbar") %>
<h2>Add Streaming Platform</h2>

<form method="POST" action="/streaming">

<div class="mb-3">
  <label class="form-label">Platform Name</label>
  <input class="form-control" name="name" required>
</div>

<button class="btn btn-success">Save</button>

</form>

<%- include('../partials/footer') %>