<%- include('../partials/header', { title: 'Add Genre' }) %>
<%- include("../partials/navbar") %>
<h2>Add Genre</h2>

<form method="POST">
    <input name="name" class="form-control" required>
    <button class="btn btn-primary mt-2">Save</button>
</form>

<%- include('../partials/footer') %>