<%- include('../partials/header', { title: 'Genres' }) %>

<h2>Genres</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    <% genres.forEach(g => { %>
    <tr>
        <td><%= g.id %></td>
        <td><%= g.name %></td>
    </tr>
    <% }) %>
</table>

<%- include('../partials/footer') %>