<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ChristmasDB</title>

<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
<h1>🎄 ChristmasDB 🎬</h1>

<nav>
    <a href="/">Home</a> |
    <a href="/actors">Actors</a> |
    <a href="/programs">Programs</a> |
    <a href="/forms/addActor">Add Actor</a>
</nav>
<hr>
</header>