<%- include('partials/header') %>

<h2>Welcome to ChristmasDB</h2>
<p>Browse Christmas movies and holiday TV shows!</p>

<ul>
<li><a href="/programs">View Programs</a></li>
<li><a href="/actors">View Actors</a></li>
</ul>

<%- include('partials/footer') %>