<%- include('../partials/header', { title: 'Add Streaming Platform' }) %>

<h2>Add Streaming Platform</h2>

<form method="POST" action="/streamings/add">

    <div class="mb-3">
        <label class="form-label">Platform Name</label>
        <input class="form-control" name="streaming_name" required>
    </div>

    <button class="btn btn-success">Save</button>

</form>

<%- include('../partials/footer') %>