<%- include('../partials/header', { title: 'Streamings' }) %>

<h2>Streaming Platforms</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    <% streamings.forEach(s => { %>
    <tr>
        <td><%= s.streaming_id %></td>
        <td><%= s.streaming_name %></td>
    </tr>
    <% }) %>
</table>
<script>
    const snowContainer = document.createElement("div");
    document.body.appendChild(snowContainer);

    function createSnowflake() {
        const snow = document.createElement("div");
        snow.classList.add("snowflake");
        snow.innerHTML = "â„";

        snow.style.left = Math.random() * window.innerWidth + "px";
        snow.style.animationDuration = 4 + Math.random() * 4 + "s";
        snow.style.fontSize = 10 + Math.random() * 20 + "px";

        snowContainer.appendChild(snow);

        setTimeout(() => snow.remove(), 8000);
    }

    setInterval(createSnowflake, 150);
</script>
<%- include('../partials/footer') %>