<%- include('../partials/header', { title: 'Streamings' }) %>

<h2>Streaming Platforms</h2>

<a href="/streamings/add" class="btn btn-primary mb-3">Add New Streaming</a>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    <% streamings.forEach(s => { %>
    <tr>
        <td><%= s.streaming_id %></td>
        <td><%= s.streaming_name %></td>
    </tr>
    <% }) %>
</table>

<%- include('../partials/footer') %>